.top {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.subredditLink {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.timestamp {
    font-size: 10px;
}